font = Tahoma, sans-serif, Arial, Helvetica
bg-color = #e7ebf0
main-blue = #5682a3
main-blue-hover = #497799
border-color = #dfe5ec
scrollbar-track = #F5F5F5
scrollbar-thumb = rgba(137, 160, 179, 0.5)
searchinput-color = #f2f2f2
contact-hover = #f2f6fa
time-color = #b3b3b3
contact-name = #222
contact-message = #808080
textarea-border = #e8e8e8
textarea-border-hover = #77b7e4
icons = #b5b5b5
icons-hover = #a3a3a3
send = #499dd9
send-hover = #3589c5
lastseen = #b9cfe3
message-name = #3a6d99